<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <script src="~/lib/tailwindcss/tailwind.js"></script>
    <script src="~/lib/lucide/lucide.js"></script>
    <script src="~/lib/tsparticles/particles.js"></script>
    <script src="~/js/customTailwind.js"></script>
    <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<main role="main">
    @RenderBody()
</main>
</html>